{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [lab3]}
]}.

{project_plugins, [
    rebar3_lint, erlfmt, rebar3_proper
]}.

{erlfmt, [
    {print_width, 90},
    {files, [
        "{src,test}/*.{erl,src}",
        "rebar.config",
        "elvis.config",
        "src/*.erl"
    ]}
]}.
