[
    {elvis, [
        {config, [
            #{
                dirs => ["src/*"],
                filter => "*.erl",
                rules => [{elvis_text_style, line_length, #{limit => 80}}],
                ruleset => erl_files
            }
        ]},
        {output_format, plain}
    ]}
].
