{erl_opts, [debug_info, nowarn_unused_function]}.
{deps, []}.

{shell, [
    {apps, [lab1]}
]}.
{eunit_opts, [{include_dirs, ["test"]}]}.

{project_plugins, [
    rebar3_lint, erlfmt
]}.

{erlfmt, [
    {print_width, 90},
    {files, [
        "{src,test}/*.{erl,src}",
        "rebar.config",
        "elvis.config",
        "src/*/*.erl"
    ]}
]}.
