{erl_opts, [debug_info, report, {'enable-feature', all}]}.

{profiles, [
    {test, [
        {deps, [proper]}
    ]}
]}.

{shell, [
    {apps, [lab2]}
]}.

{eunit_opts, [{include_dirs, ["test"]}]}.

{project_plugins, [
    rebar3_lint, erlfmt, rebar3_proper
]}.

{erlfmt, [
    {print_width, 90},
    {files, [
        "{src,test}/*.{erl,src}",
        "rebar.config",
        "elvis.config",
        "src/*.erl"
    ]}
]}.
